body  {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.header{
    background-color: white;
    width: 100%;
    height: 95px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo {
    font-size: 2rem;
    margin: 30px;
    float: left;
    color: #89bb59;
    font-weight: bold;
}

.nav {
    float: right;
    margin: 30px;
    list-style: none;
}

.nav a {
    display: inline-flex;
    text-decoration: none;
    color: #3B3B3B;

}

.nav a:hover {
    text-decoration: underline;
    color: #89bb59;
}

.nav a li {
    text-decoration: none;
    font-size: 25px;
    padding-right: 30px;
    margin: 0 auto;
}

#mission {
    background-image: url("../images/l-intro-1625663662.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-content: center ;
    background-color: grey;
    background-blend-mode: multiply;
    padding: 0;
}

.text-over {
    color: white;
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 150%;
    border: 2px dashed white;
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

.text-over h1 {
    text-transform: uppercase;
}

.text-above {
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 15px;
    font-size: 200%;
}

#products {
    background-color: white;
}

#products .text-above {
    color: #89bb59;
}

.image-container {
    display: flex;
    width: 80%;
    height: 50%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.products-images {
    width: 400px;
    height: 500px;
    text-align: center;
    padding: 20px;
    border: 2px dashed #89bb59;
    margin: 10px;
    border-radius: 5px;
    
}

.products-images:hover {
    transform: scale(1.1);
    text-align: center;
    padding: 20px;
    border: 2px dashed #89bb59;
    margin: 10px;
    border-radius: 5px;
    background-color: lightgray;
    transition: transform 0.5s ease;
    
}

.products-images img {
    height: 60%;
    width: 90%;
    object-fit: cover;
    
}


.products-images h4 {
    text-transform: uppercase;
    color: #89bb59;
    font-size: 120%;
    margin-bottom: 0;

}

#team {
    background-color: #89bb59;
    width: 100%;
    height: 100%;
}

#team .text-above {
    color: white;
    margin-top: 60px;
}

.image-container-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.team-images {
    width: 400px;
    height: 720px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px #3B3B3B;
    margin: 20px;
}

.team-images:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;

    
}

.team-images img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.team-images h4 {
    text-transform: uppercase;
    font-size: 150%;
    margin-bottom: 0;
}

footer {
    text-align: center;
    color: #89bb59;
    margin-top: 50px;
    margin-bottom: 50px;
}